In [2]:
#L'ensemble des ces informations sont rassemblées dans la liste tableau suivante :
hugo = [1800, 21, 0]
richard = [1500, 54, 2]
emilie = [2200, 28, 3]
pierre = [3000, 37, 1]
paul = [2172, 37, 2]
deborah = [5000, 32, 0]
yohann = [1400, 23, 0]
anne = [1200, 25, 1]
thibault = [1100, 19, 0]
emmanuel = [1300, 31, 2]

tableau = [hugo, richard, emilie, pierre, paul, deborah,
           yohann, anne, thibault, emmanuel]

display(tableau)

[[1800, 21, 0],
 [1500, 54, 2],
 [2200, 28, 3],
 [3000, 37, 1],
 [2172, 37, 2],
 [5000, 32, 0],
 [1400, 23, 0],
 [1200, 25, 1],
 [1100, 19, 0],
 [1300, 31, 2]]

In [3]:
#A partir de cette liste, créez un array que vous nommerez data :
import numpy as np

hugo = [1800, 21, 0]
richard = [1500, 54, 2]
emilie = [2200, 28, 3]
pierre = [3000, 37, 1]
paul = [2172, 37, 2]
deborah = [5000, 32, 0]
yohann = [1400, 23, 0]
anne = [1200, 25, 1]
thibault = [1100, 19, 0]
emmanuel = [1300, 31, 2]

tableau = np.array([hugo, richard, emilie, pierre, paul, deborah, yohann, anne, thibault, emmanuel])

data = tableau  # Renommez le tableau pour l'appeler "data"

print(data)

[[1800   21    0]
 [1500   54    2]
 [2200   28    3]
 [3000   37    1]
 [2172   37    2]
 [5000   32    0]
 [1400   23    0]
 [1200   25    1]
 [1100   19    0]
 [1300   31    2]]

In [4]:
#Paul souhaiterait contracter un prêt immobilier :

#affichez les informations qui lui sont relatives. Pour rappel, Paul correspond à la 5ème ligne de nos données
#calculez ses mensualités maximales, en sachant que le taux d'endettement maximum est de 35% (il ne pourra donc pas rembourser par mois plus de 35% de son revenu).
import numpy as np

# Créer le tableau "data" à partir de la liste des clients
hugo = [1800, 21, 0]
richard = [1500, 54, 2]
emilie = [2200, 28, 3]
pierre = [3000, 37, 1]
paul = [2172, 37, 2]
deborah = [5000, 32, 0]
yohann = [1400, 23, 0]
anne = [1200, 25, 1]
thibault = [1100, 19, 0]
emmanuel = [1300, 31, 2]

data = np.array([hugo, richard, emilie, pierre, paul, deborah, yohann, anne, thibault, emmanuel])

# Afficher les informations relatives à Paul (5ème ligne)
infos_paul = data[4]  

revenu_paul = infos_paul[0]
age_paul = infos_paul[1]
enfants_paul = infos_paul[2]

print("Informations relatives à Paul :")
print("Revenu mensuel de Paul :", revenu_paul)
print("Âge de Paul :", age_paul)
print("Nombre d'enfants à charge de Paul :", enfants_paul)

# Calculer les mensualités maximales pour Paul (35% de son revenu mensuel)
taux_endettement_max = 0.35
mensualites_max_paul = revenu_paul * taux_endettement_max

print("Mensualités maximales pour Paul :", mensualites_max_paul)

Informations relatives à Paul :
Revenu mensuel de Paul : 2172
Âge de Paul : 37
Nombre d'enfants à charge de Paul : 2
Mensualités maximales pour Paul : 760.1999999999999

In [5]:
#Un nouveau client vient d'arriver, dont les informations sont les suivantes :
#louise = [1900, 31, 1]
import numpy as np

# Les données existantes
hugo = [1800, 21, 0]
richard = [1500, 54, 2]
emilie = [2200, 28, 3]
pierre = [3000, 37, 1]
paul = [2172, 37, 2]
deborah = [5000, 32, 0]
yohann = [1400, 23, 0]
anne = [1200, 25, 1]
thibault = [1100, 19, 0]
emmanuel = [1300, 31, 2]

data = np.array([hugo, richard, emilie, pierre, paul, deborah, yohann, anne, thibault, emmanuel])

# Nouveau client "Louise"
louise = [1900, 31, 1]

# Ajouter Louise au tableau "data"
data = np.vstack([data, louise])

print("Tableau mis à jour avec Louise :")
print(data)

Tableau mis à jour avec Louise :
[[1800   21    0]
 [1500   54    2]
 [2200   28    3]
 [3000   37    1]
 [2172   37    2]
 [5000   32    0]
 [1400   23    0]
 [1200   25    1]
 [1100   19    0]
 [1300   31    2]
 [1900   31    1]]

In [6]:
#Stockez enfin l'ensemble des informations de salaire de notre clientèle dans une variable revenus :
revenus = data[:, 0]

print(revenus)

[1800 1500 2200 3000 2172 5000 1400 1200 1100 1300 1900]